HELP.md
HockeyApp_BE/.gradle
build/
!HockeyApp_BE/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
HockeyApp_BE/.apt_generated
HockeyApp_BE/.classpath
HockeyApp_BE/.factorypath
HockeyApp_BE/.project
HockeyApp_BE/.settings
HockeyApp_BE/.springBeans
HockeyApp_BE/.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
HockeyApp_BE/nbproject/private/
HockeyApp_BE/nbbuild/
HockeyApp_BE/dist/
HockeyApp_BE/nbdist/
HockeyApp_BE/.nb-gradle/

### VS Code ###
.vscode/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
HockeyApp_FE/node_modules
HockeyApp_FE/.pnp
HockeyApp_FE/.pnp.js
HockeyApp_FE/.yarn/install-state.gz

# testing
HockeyApp_FE/coverage

# next.js
HockeyApp_FE/.next/
HockeyApp_FE/out/

# production
HockeyApp_FE/build

# misc
HockeyApp_FE/.DS_Store
*.pem

# debug
HockeyApp_FE/npm-debug.log*
HockeyApp_FE/yarn-debug.log*
HockeyApp_FE/yarn-error.log*

# local env files
HockeyApp_FE/.env*.local

# vercel
HockeyApp_FE/.vercel

# typescript
*.tsbuildinfo
HockeyApp_FE/next-env.d.ts
