HELP.md
HockeyApp_BE/HockeyApp/.gradle
build/
!HockeyApp_BE/HockeyApp/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
HockeyApp_BE/HockeyApp/.apt_generated
HockeyApp_BE/HockeyApp/.classpath
HockeyApp_BE/HockeyApp/.factorypath
HockeyApp_BE/HockeyApp/.project
HockeyApp_BE/HockeyApp/.settings
HockeyApp_BE/HockeyApp/.springBeans
HockeyApp_BE/HockeyApp/.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
HockeyApp_BE/HockeyApp/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
HockeyApp_BE/HockeyApp/nbproject/private/
HockeyApp_BE/HockeyApp/nbbuild/
HockeyApp_BE/HockeyApp/dist/
HockeyApp_BE/HockeyApp/nbdist/
HockeyApp_BE/HockeyApp/.nb-gradle/

### VS Code ###
.vscode/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
HockeyApp_FE/node_modules
HockeyApp_FE/.pnp
HockeyApp_FE/.pnp.js
HockeyApp_FE/.yarn/install-state.gz

# testing
HockeyApp_FE/coverage

# next.js
HockeyApp_FE/.next/
HockeyApp_FE/out/

# production
HockeyApp_FE/build

# misc
HockeyApp_FE/.DS_Store
*.pem

# debug
HockeyApp_FE/npm-debug.log*
HockeyApp_FE/yarn-debug.log*
HockeyApp_FE/yarn-error.log*

# local env files
HockeyApp_FE/.env*.local

# vercel
HockeyApp_FE/.vercel

# typescript
*.tsbuildinfo
HockeyApp_FE/next-env.d.ts
